{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ parent() }}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.pubsub.min.js"></script>
<script type="text/javascript" src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
<script type="text/javascript" src="js/logconsole.js"></script>
<script type="text/javascript" src="js/wampconnection.js"></script>
<script type="text/javascript">
	WampConnection.connect('{{ webSocketUri }}');
</script>
<script type="text/javascript">
	function sendCommand() {
		var form = $('#commandForm')
		$.ajax({
			type: form.attr('method'),
			url: form.attr('action'),
			data: form.serialize(), // serializes the form's elements.
			success: function(data) {
				$('#commandOutput').html(data);
			}
		});
		
		$('#commandInput').val('');
	}
</script>
{% endblock %}

{% block content %}
{% if logConsoleAllowed %}
<article>
	<header>
		<h1>Console Messages</h1>
	</header>

	<div id="log_console" data-topic="{{ logEventsTopic }}"></div>
</article>
<br />
<article>
	<form method="post" action="/WEBUI_MODULE/command" id="commandForm" onsubmit="sendCommand(); return false;">
		<input type="text" name="cmd" id="commandInput" size="100" placeholder="Command" autocomplete="off" autofocus />
		<input type="submit" value="Submit" />
	</form>
	<br />
	<div id="commandOutput">
	</div>
</article>
{% endif %}
{% endblock %}
