{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ parent() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		ab.connect('ws://localhost:80/',

			function(session) {
				console.log('Connected to WebSocket');
			},

			function(code, reason) {
				console.log('Failed to connect WebSocket (' + reason + ')');
			}
		);
	});
</script>
{% endblock %}

{% block content %}
<article>
	<header>
		<h1>Console Messages</h1>
	</header>

	<iframe id="console" style="width: 100%; height: 400px;">
</article>
{% endblock %}
