{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ parent() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {

		function isLogConsoleAtBottom() {
			if (log_console.scrollTopMax != undefined) {
				return log_console.scrollTop == log_console.scrollTopMax;
			}
			return true;
		}

		function scrollLogConsoleToBottom() {
			if (log_console.scrollTopMax != undefined) {
				log_console.scrollTop = log_console.scrollTopMax;
			} else {
				log_console.scrollTop = 999999999;
			}
		}

		function addMessageToLogConsole(message) {
			atBottom = isLogConsoleAtBottom();
			console.log(atBottom);
			log_console.innerHTML += message + "<br />\n";
			if (atBottom) {
				scrollLogConsoleToBottom();
			}
		}

		ab.connect('ws://localhost:80/',

			function(session) {
				console.log('Connected to WebSocket');
				session.subscribe("{{ logEventWampUri }}", function (topic, event) {
					addMessageToLogConsole(event);
				});
			},

			function(code, reason) {
				addMessageToLogConsole(reason);
			}
		);
	});
</script>
{% endblock %}

{% block content %}
<article>
	<header>
		<h1>Console Messages</h1>
	</header>

	<div id="log_console"></div>
</article>
{% endblock %}
