{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
{{ parent() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="../js/login.js"></script>
{% endblock %}

{% block content %}
<article>
	<header>
		<h1>Login</h1>
	</header>
	<div id="message"></div>
	<form method="post">
		<input id="username" type="text" placeholder="Username" autofocus required> <br/>
		<input id="password" type="password" placeholder="Password" required> <br/>
		<input type="submit" id="login" value="Log in">
	</form>
</article>
{% endblock %}
