= API Documentation =

== Classes ==
{foreach $classes as $class}
    * [Api{$class->name} {$class->name}]
{/foreach}

== Interfaces ==
{foreach $interfaces as $interface}
    * [Api{$interface->name} {$interface->name}]
{/foreach}
